@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/inter-v13-latin-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v13-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v13-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v13-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v13-latin-700.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter" sans-serif;
}

.text-color {
  color: rgb(255, 125, 68);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  padding: 21px 0;
  position: fixed;
  width: 100%;
  z-index: 2;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background: rgba(0, 0, 0, 0.3);
}

.header {
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  margin: 0 50px 0 116px;
}

.navbar__list {
  display: flex;
  gap: 25px;
}

.navbar__link {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.navbar__link:hover {
  color: rgb(255, 125, 68);
  transition: 0.3s color linear;
}

.header-tel {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.hero-section {
  height: 120vh;
  padding: 180px 0 93px 0;
  background-image: url(../images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;
  background-attachment: fixed;
}

.hero {
  display: flex;
  gap: 85px;
}

.form-content-wrapper {
  padding: 25px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  background: rgba(58, 58, 58, 0.5);
}

.form-title {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
}

.form-text {
  margin: 8px 0 20px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.form-line {
  margin-bottom: 25px;
  border: 1px solid rgb(224, 224, 224);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
}

.input {
  padding: 16px 0 16px 47px;
  background-image: url(../../images/form-location-icon.svg);
  background-repeat: no-repeat;
  background-position: 10px 10px;
  border-radius: 12px;
  outline: none;
  border: none;
}

.label-date {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 8px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
}

.input-date {
  padding: 16px 0 16px 48px;
  border-radius: 12px;
  background: rgb(255, 255, 255);
  outline: none;
  border: none;
  background-image: url(../../images/form-date-icon.svg);
  background-repeat: no-repeat;
  background-position: 10px 10px;
  cursor: pointer;
}

input::-webkit-calendar-picker-indicator {
  /* display: none;  */
  margin-right: 15px;
}

input[type=date]::-webkit-input-placeholder {
  visibility: hidden !important;
}

.form-subtitle {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
}

.radio-flex {
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
}

.open-label {
  width: 192px;
  padding: 15px;
  display: inline-block;
  border-radius: 12px;
  background: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.87);
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  cursor: pointer;
}

.enclosed-label {
  width: 192px;
  padding: 15px;
  display: inline-block;
  border-radius: 12px;
  background: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.87);
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  cursor: pointer;
}

.form-btn {
  width: 399px;
  padding: 17px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 17px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
  background: rgb(255, 125, 68);
  cursor: pointer;
  border: none;
  outline: none;
}

.hero-content {
  width: 576px;
  padding-top: 43px;
  text-align: left;
}

.hero-content-top-text {
  margin-left: 34px;
  position: relative;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0px;
  text-transform: uppercase;
}
.hero-content-top-text::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  background-image: url(../../images/star.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  top: 0;
  bottom: 0;
  left: -33px;
  margin: auto 0;
}

.hero-content-title {
  margin: 11px 0 20px 0;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 56px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0%;
}

.hero-content-bottom-text {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
}

.service-section {
  padding: 118px 0 173px 0;
  background-image: url(../../images/service-top-bg.svg), url(../../images/service-bottom-bg..svg);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

.service-content-wrapper {
  text-align: center;
  margin-bottom: 96px;
}

.service-title {
  color: rgba(0, 0, 0, 0.87);
  font-family: Inter;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
}

.service-text {
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.68);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  gap: 49px;
}

.service-item {
  cursor: pointer;
  width: 354px;
  height: 465px;
  position: relative;
  transition: all 0.4s;
  overflow: hidden;
  box-shadow: 0 0 2px 0 #000;
}
.service-item:hover > .service-img {
  height: 50%;
}
.service-item:hover > .service__hidden-content {
  bottom: 0;
}

.service-img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4s;
}

.service-subcontent {
  padding: 20px;
  position: absolute;
  bottom: 0;
}

.car-title {
  margin-bottom: 19px;
  color: rgba(255, 255, 255, 0.87);
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0%;
}

.car-text {
  color: rgba(255, 255, 255, 0.87);
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0%;
}

.service__hidden-content {
  padding: 20px;
  position: absolute;
  bottom: -100%;
  height: 50%;
  transition: all 0.3s;
}

.service__hidden-content > h3 {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
}

.service__hidden-content > p {
  margin: 10px 0 15px 0;
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.service__hidden-content > a {
  color: rgb(255, 125, 68);
  font-family: Inter;
  padding-right: 30px;
  position: relative;
}
.service__hidden-content > a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 15px;
  height: 15px;
  margin: auto 0;
  background-image: url(../../images/arrow.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.pro-section {
  padding: 75px 0;
  background-image: url(../../images/pro-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.pro {
  display: flex;
  gap: 98px;
}

.pro-content {
  width: 279px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

.pro-title {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 38px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0%;
}

.pro-text {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
}

.pro-number {
  display: flex;
  gap: 55px;
}

.pro-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.pro-item-quantity {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 50px;
  font-weight: 600;
  line-height: 61px;
  letter-spacing: 0%;
}

.pro-item-text {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
}

.about-section {
  padding-top: 100px;
}

.about-wrapper {
  display: flex;
  gap: 25px;
}

.about-us {
  margin-top: 37px;
}

.about-us__title {
  font-family: Inter;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
}

.about-us-text {
  margin: 16px 0 50px 0;
  color: rgba(0, 0, 0, 0.68);
  font-family: Inter;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0%;
}

.our-mission__title {
  margin: 50px 0 16px 26px;
  font-family: Inter;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
}

.our-mission-text {
  margin-left: 26px;
  color: rgba(0, 0, 0, 0.68);
  font-family: Inter;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0%;
}

.method-section {
  padding-top: 171px;
}

.method {
  text-align: center;
}

.method-title {
  margin-bottom: 15px;
  font-family: Inter;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
}

.method-text {
  margin-bottom: 80px;
  color: rgba(0, 0, 0, 0.68);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
}

.rail {
  display: flex;
  gap: 24px;
}

.rail-wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.rail-content {
  text-align: left;
}

.rail-content-title {
  color: rgba(0, 0, 0, 0.87);
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0%;
}

.rail-content-text {
  width: 545px;
  margin: 15px 0 30px 0;
  color: rgba(0, 0, 0, 0.68);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
}

.rail-content-btn {
  width: 259px;
  padding: 15px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  border: none;
  background: white;
  border: 1px solid rgb(255, 125, 68);
  border-radius: 3px;
  cursor: pointer;
}

.contact-section {
  margin-top: 75px;
  padding: 80px 0;
  background-image: url(../../images/contact-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.contact-wrapper {
  display: flex;
  gap: 118px;
}

.contact-content {
  width: 436px;
}

.contact-title {
  margin-bottom: 16px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 38px;
  font-weight: 700;
  line-height: 45.99px;
}

.contact-text {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.telephone {
  margin-top: 38px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.telephone-img {
  cursor: pointer;
}

.number {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.number-text {
  color: rgba(255, 255, 255, 0.68);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
}

.number-link {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
}

.contact-form-wrapper {
  width: 543px;
  padding: 25px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  background: rgba(90, 90, 90, 0.5);
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form-title {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
}

.form-line {
  margin: 19px 0 25px 0;
}

.contact-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
}

.contact-input {
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 3px;
  background: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.38);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
}

.contact-label_1, .contact-label_2 {
  width: 236px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
}

.label-wrapper {
  margin: 15px 0 15px 0;
  display: flex;
  gap: 10px;
}

.contact-textarea-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
}

.contact-textarea {
  height: 100px;
  resize: none;
  padding: 15px;
  outline: none;
  border-radius: 3px;
  background: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.38);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
}

.contact-form-btn {
  width: 483px;
  padding: 17px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 17px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
  border: none;
  background: rgb(255, 125, 68);
  cursor: pointer;
}

.site-footer {
  padding: 50px 0 50px 0;
  background: rgb(40, 40, 40);
}

.footer {
  display: flex;
}

.footer-logo-text {
  margin: 16px 0 55px 0;
  color: rgba(255, 255, 255, 0.68);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
}

.footer-right {
  color: rgba(255, 255, 255, 0.38);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
}

.footer-link-wrapper {
  margin-left: 125px;
  display: flex;
  gap: 110px;
}

.footer-link {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: rgba(255, 255, 255, 0.68);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
}

.footer-name {
  margin-bottom: 20px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.87);
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
}/*# sourceMappingURL=main.css.map */